In [2]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("NYC_Taxi_Analysis")
    .master("spark://spark-master:7077")
    .getOrCreate()
)

In [1]:
#For MinIO
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MinIO Test") \
    .master("spark://spark-master:7077") \
    .config("spark.jars", "/opt/spark/jars/hadoop-aws-3.3.4.jar,/opt/spark/jars/aws-java-sdk-bundle-1.12.367.jar") \
    .config("spark.driver.extraClassPath", "/opt/spark/jars/*") \
    .config("spark.executor.extraClassPath", "/opt/spark/jars/*") \
    .config("spark.python.worker.reuse", "false") \
    .config("spark.sql.execution.arrow.pyspark.enabled", "false") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "minioadmin") \
    .config("spark.hadoop.fs.s3a.secret.key", "minioadmin") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
    .getOrCreate()

##  ***2022 Schema***

In [2]:
#df_2022 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2022")

In [3]:
print(f"number of records of 2023 data is : {df_2022.count()}")

number of records of 2023 data is : 39656098

In [2]:
#df_2022.show()

In [4]:
df_2022.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

##  ***2023 Schema***

In [5]:
#df_2023 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023")

In [6]:
print(f"number of records of 2023 data is : {df_2023.count()}")

number of records of 2023 data is : 38310226

In [7]:
df_2023.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## ***2024 Schema***

In [8]:
df_2024 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024")

In [9]:
print(f"Number of records of 2024 data is : {df_2024.count()}")

Number of records of 2024 data is : 41169720

In [10]:
df_2024.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

##  ***2025 Schema***

In [11]:
df_2025 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025")

In [12]:
print(f"Number of records of 2025 data is : {df_2025.count()}")

Number of records of 2025 data is : 40236152

In [14]:
df_2025.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [15]:

#print(df_2022.schema==df_2023.schema == df_2024.schema == df_2025.schema)  

#the result is False , so there is a schema mismatch , and to resolve this we should use mergeschema in spark

In [16]:
#df = spark.read.option("mergeSchema", "true").parquet(
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023",
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024",
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025"
#)

#the mergeschema in spark can not work , because it can not merge data types "Failed to merge incompatible data types "BIGINT" and "INT"

# **Standard Schema**

### ⚠️ Observed Schema Mismatches

- **Data type inconsistencies across years**
  - `VendorID`: `long` (2022-2023) vs `integer` (2024–2025)
  - `passenger_count`: `double` (2022-2023) vs `long` (2024–2025)
  - `RatecodeID`: `double` (2022-2023) vs `long` (2024–2025)
  - `PULocationID`, `DOLocationID`: `long` (2022-2023) vs `integer` (2024–2025)

- **Column name variation**
  - `airport_fee` (2022-2023) vs `Airport_fee` (2024–2025)

- **Schema evolution**
  - `cbd_congestion_fee` present only in 2025

In [15]:
#Create a Standard Schema For all Years
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, DoubleType, StringType, TimestampType ,TimestampNTZType

standard_schema = StructType([
    StructField('VendorID', IntegerType(), True),
    StructField('tpep_pickup_datetime', TimestampNTZType(), True),
    StructField('tpep_dropoff_datetime', TimestampNTZType(), True),
    StructField('passenger_count', LongType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', LongType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', IntegerType(), True),
    StructField('DOLocationID', IntegerType(), True),
    StructField('payment_type', LongType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True),
    StructField('congestion_surcharge', DoubleType(), True),
    StructField('Airport_fee', DoubleType(), True), 
    StructField('cbd_congestion_fee', DoubleType(), True),
])

## Enforce Function

In [16]:
#Create an enforce function for compitability
from pyspark.sql.functions import lit, col

def enforce_schema(df, schema):
    # Rename existing lower-case column if needed
    if "airport_fee" in df.columns:
        df = df.withColumnRenamed("airport_fee", "Airport_fee")
    
    # Add missing columns and cast
    for field in schema.fields:
        if field.name not in df.columns:
            df = df.withColumn(field.name, lit(None).cast(field.dataType))
        else:
            df = df.withColumn(field.name, col(field.name).cast(field.dataType))
    
    # Reorder columns
    df = df.select([field.name for field in schema.fields])
    return df

### Read 2022 Parquet Files and Union them

In [17]:
#read each parquet file of specified year individuall and then union all parqyet files of same year
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2022"

dfs_2022_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2022-{month}.parquet"
    
    df = spark.read.parquet(path)

    df_std = enforce_schema(df, standard_schema)
    
    dfs_2022_std[month] = df_std

In [18]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2022_std[month] for month in sorted(dfs_2022_std.keys())]

# Union all months into one DataFrame
df_2022_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [19]:
df_2022_std.count()

39656098

### Read 2023 Parquet Files and Union them

In [20]:
#read each parquet file of specified year individuall and then union all parqyet
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023"

dfs_2023_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2023-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2023_std[month] = df_std

In [21]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2023_std[month] for month in sorted(dfs_2023_std.keys())]

# Union all months into one DataFrame
df_2023_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [22]:
df_2023_std.count()

38310226

### Read 2024 Parquet Files and Union them

In [23]:
#read each parquet file of specified year individuall and then union all parqyet
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024"

dfs_2024_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2024-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2024_std[month] = df_std

In [24]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2024_std[month] for month in sorted(dfs_2024_std.keys())]

# Union all months into one DataFrame
df_2024_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [25]:
df_2024_std.count()

41169720

### Read 2025 Parquet Files and Union them

In [26]:
#read each parquet file of specified year individuall and then union all parqyet
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025"

dfs_2025_std = {}

for m in range(1, 11):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2025-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2025_std[month] = df_std

In [27]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2025_std[month] for month in sorted(dfs_2025_std.keys())]

# Union all months into one DataFrame
df_2025_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [28]:
df_2025_std.count()

40236152

# **Union All df Years**

In [29]:
#Check schema match
print(df_2022_std.schema==df_2023_std.schema==df_2024_std.schema==df_2025_std.schema)

True

In [30]:
df = (
    
     df_2024_std
    .unionByName(df_2025_std)
    .unionByName(df_2023_std)
    .unionByName(df_2022_std)
    
)

In [31]:
print(f"number of records of full df is : {df.count()}")

number of records of full df is : 159372196

In [32]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [33]:
df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|  6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75|              NULL|
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|         5.44|         1|                 N|         161|         261|           2|       31.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:28:08|  2024-01-01 00:29:16|              1|         0.04|         1|                 N|         113|         113|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|              NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 10 rows

# **Data Cleaning**

### **Rename Columns**

In [35]:
from pyspark.sql import functions as f

df_col_renamed = (
    df
    .withColumnRenamed("VendorID", "Vendor_ID")
    .withColumnRenamed("RatecodeID", "Ratecode_ID")
    .withColumnRenamed("PULocationID", "Pickup_Location_ID")
    .withColumnRenamed("DOLocationID", "Dropoff_Location_ID")
    .withColumnRenamed("extra", "extra_charges")
    .withColumnRenamed("tpep_pickup_datetime","Trip_Pickup_DateTime")
    .withColumnRenamed("tpep_dropoff_datetime","Trip_Dropoff_DateTime")
    .withColumn(
        'trip_duration_min',
        f.round(
            (f.unix_timestamp('Trip_Dropoff_DateTime') - f.unix_timestamp('Trip_Pickup_DateTime')) / 60,
            2
        )
    )
)

In [36]:
df_col_renamed.printSchema()

root
 |-- Vendor_ID: integer (nullable = true)
 |-- Trip_Pickup_DateTime: timestamp_ntz (nullable = true)
 |-- Trip_Dropoff_DateTime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- Ratecode_ID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- Pickup_Location_ID: integer (nullable = true)
 |-- Dropoff_Location_ID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra_charges: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)
 |-- trip_duration_min: double (nullable = true)

### **Dealing With Nulls**

#### Handling NULL Values

The dataset is cleaned by filling NULL values in specific columns with appropriate defaults:

1. **Vendor_ID:** Replace NULLs with `99`.

2. **Ratecode_ID:** Replace NULLs with `99`.

3. **store_and_fwd_flag:** Replace NULLs with `'Unknown'`.

4. **fare_amount:** Replace NULLs with `0.0`.

5. **extra_charges:** Replace NULLs with `0.0`.

6. **mta_tax:** Replace NULLs with `0.0`.

7. **tip_amount:** Replace NULLs with the **mean value of the column** (`mean_tip`).

8. **cbd_congestion_fee:** Replace NULLs with `0.0`.

In [37]:
mean_tip = df_col_renamed.select(f.mean("tip_amount")).collect()[0][0]

df_no_nulls = df_col_renamed.fillna({
    'Vendor_ID': 99,
    'Ratecode_ID': 99,
    'store_and_fwd_flag':'Unknown',
    'fare_amount': 0.0,
    'extra_charges': 0.0,
    'mta_tax': 0.0,
    'tip_amount': mean_tip,
    'cbd_congestion_fee': 0.0
})

In [38]:
#Count of records after dealing with nulls 
df_no_nulls.count()

159372196

### **Filter bad Data**

#### Filter Conditions

The dataset is filtered based on the following conditions:

1. **Passenger count:** Keep trips where the number of passengers is between **1 and 6** (inclusive).

2. **Trip distance:** Keep trips where the distance is between **0 .1and 200**.

3. **Pickup and dropoff locations:** Exclude trips where the pickup and dropoff locations are the same.

4. **Trip duration:** Only keep trips with duration between **0.01 minutes and 120.1 minutes** (i.e., less than 2 hours).

5. **Non-negative fees and amounts:** Exclude rows where any of the following columns are negative:
   - `cbd_congestion_fee`
   - `Airport_fee`
   - `total_amount`
   - `tip_amount`
   - `fare_amount`
   - `extra_charges`
   - `improvement_surcharge`
   - `mta_tax`

In [39]:
df_filtered = df_no_nulls

In [41]:
#df_filtered.printSchema()

In [40]:
from pyspark.sql import functions as f

df_filtered = df_no_nulls.filter(
    (f.col("passenger_count").between(1, 6)) &
    (f.col("trip_distance").between(0.1,200)) &
    (f.col("Pickup_Location_ID") != f.col("Dropoff_Location_ID")) &
    (f.col("trip_duration_min").between(0.01,120.1))&
    (f.col("cbd_congestion_fee")>=0.0)&
    (f.col("Airport_fee")>=0.0)&
    (f.col("total_amount")>=0.0)&
    (f.col("tip_amount")>=0.0)&
    (f.col("fare_amount")>=0.0)&
    (f.col("extra_charges")>=0.0)&
    (f.col("improvement_surcharge")>=0.0)&
    (f.col("mta_tax")>=0.0)
    
    
)

In [43]:
#check applying of filter condition
#from pyspark.sql import functions as f

#df_filtered.where ( (f.col("passenger_count") == 0) | (f.col("trip_distance")>200) |(f.col("trip_duration_min") >120.1) ).show()

In [44]:
#df_filtered.printSchema()

### **Creating new columns**

#### - Columns From Existing Ones

#### Enriching Trip Data with Descriptive Columns

This code adds and transforms several columns in the trip DataFrame:  

- **Vendor_Name** – human-readable vendor names based on `Vendor_ID`.  
- **Ratecode_Description** – descriptive text for `Ratecode_ID`.  
- **Payment_Method** – descriptive text for `payment_type`.  
- **Trip_Distance_Km** – converts `trip_distance` from miles to kilometers.  
- **Year** – extracts the pickup year from `Trip_Pickup_DateTime`.  
- **Month** – extracts the pickup month (abbreviated) from `Trip_Pickup_DateTime`.  
- Renames `trip_distance` to `trip_distance_miles`.  

All mappings use conditional logic (`when/otherwise`) to handle known values and assign `"Unknown"` for others.

In [41]:
from pyspark.sql import functions as f

df_derived_col = (
    df_filtered
    .withColumn(
        "Vendor_Name",
        f.when(f.col("Vendor_ID") == 1, f.lit("Creative Mobile Technologies, LLC"))
         .when(f.col("Vendor_ID") == 2, f.lit("Curb Mobility, LLC"))
         .when(f.col("Vendor_ID") == 6, f.lit("Myle Technologies Inc"))
         .when(f.col("Vendor_ID") == 7, f.lit("Helix"))
         .otherwise(f.lit("Unknown"))
    )
    .withColumn(
        "Ratecode_Description",
        f.when(f.col("Ratecode_ID") == 1, f.lit("Standard rate"))
         .when(f.col("Ratecode_ID") == 2, f.lit("JFK"))
         .when(f.col("Ratecode_ID") == 3, f.lit("Newark"))
         .when(f.col("Ratecode_ID") == 4, f.lit("Nassau or Westchester"))
         .when(f.col("Ratecode_ID") == 5, f.lit("Negotiated fare"))
         .when(f.col("Ratecode_ID") == 6, f.lit("Group ride"))
         .otherwise(f.lit("Unknown"))
    )
    .withColumn(
        "Payment_Method",
        f.when(f.col("payment_type") == 0, f.lit("Flex Fare trip"))
         .when(f.col("payment_type") == 1, f.lit("Credit Card"))
         .when(f.col("payment_type") == 2, f.lit("Cash"))
         .when(f.col("payment_type") == 3, f.lit("No Charge"))
         .when(f.col("payment_type") == 4, f.lit("Dispute"))
         .when(f.col("payment_type") == 5, f.lit("Unknown"))
         .when(f.col("payment_type") == 6, f.lit("Voided trip"))
         .otherwise(f.lit("Unknown"))
    )
    .withColumn(
        "Trip_Distance_Km",
        f.round(f.col("trip_distance") * 1.609 ,2)
    )

    .withColumn(
        "Year", 
        f.year(f.col('Trip_Pickup_DateTime'))
    )

   .withColumn(
        "Month",
         f.date_format(f.col("Trip_Pickup_DateTime"), "MMM")
)
    
    
    .withColumnRenamed('trip_distance','trip_distance_miles')
)

In [42]:
df_derived_col.show()

+---------+--------------------+---------------------+---------------+-------------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+--------------------+--------------------+--------------+----------------+----+-----+
|Vendor_ID|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|passenger_count|trip_distance_miles|Ratecode_ID|store_and_fwd_flag|Pickup_Location_ID|Dropoff_Location_ID|payment_type|fare_amount|extra_charges|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|trip_duration_min|         Vendor_Name|Ratecode_Description|Payment_Method|Trip_Distance_Km|Year|Month|
+---------+--------------------+---------------------+---------------+-------------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+--------------------+--------------------+--------------+----------------+----+-----+
|        2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|               1.72|          1|                 N|               186|                 79|           2|       17.7|          1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|               0.0|             19.8|  Curb Mobility, LLC|       Standard rate|          Cash|            2.77|2024|  Jan|
|        1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|                1.8|          1|                 N|               140|                236|           1|       10.0|          3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|               0.0|              6.6|Creative Mobile T...|       Standard rate|   Credit Card|             2.9|2024|  Jan|
|        1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|                4.7|          1|                 N|               236|                 79|           1|       23.3|          3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|               0.0|            17.92|Creative Mobile T...|       Standard rate|   Credit Card|            7.56|2024|  Jan|
|        1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|                1.4|          1|                 N|                79|                211|           1|       10.0|          3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|               0.0|              8.3|Creative Mobile T...|       Standard rate|   Credit Card|            2.25|2024|  Jan|
|        1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|                0.8|          1|                 N|               211|                148|           1|        7.9|          3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|              6.1|Creative Mobile T...|       Standard rate|   Credit Card|            1.29|2024|  Jan|
|        1| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|                4.7|          1|                 N|               148|                141|           1|       29.6|          3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|               0.0|            32.38|Creative Mobile T...|       Standard rate|   Credit Card|            7.56|2024|  Jan|
|        2| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|              10.82|          1|                 N|               138|                181|           1|       45.7|          6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75|               0.0|            26.05|  Curb Mobility, LLC|       Standard rate|   Credit Card|           17.41|2024|  Jan|
|        2| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|               5.44|          1|                 N|               161|                261|           2|       31.0|          1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|               0.0|            28.18|  Curb Mobility, LLC|       Standard rate|          Cash|            8.75|2024|  Jan|
|        2| 2024-01-01 00:35:22|  2024-01-01 00:41:41|              2|               0.75|          1|                 N|               107|                137|           1|        7.9|          1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|               0.0|             6.32|  Curb Mobility, LLC|       Standard rate|   Credit Card|            1.21|2024|  Jan|
|        1| 2024-01-01 00:25:00|  2024-01-01 00:34:03|              2|                1.2|          1|                 N|               158|                246|           1|       14.9|          3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0|               0.0|             9.05|Creative Mobile T...|       Standard rate|   Credit Card|            1.93|2024|  Jan|
|        1| 2024-01-01 00:35:16|  2024-01-01 01:11:52|              2|                8.2|          1|                 N|               246|                190|           1|       59.0|          3.5|    0.5|     14.15|        6.94|                  1.0|       85.09|                 2.5|        0.0|               0.0|             36.6|Creative Mobile T...|       Standard rate|   Credit Card|           13.19|2024|  Jan|
|        1| 2024-01-01 00:43:27|  2024-01-01 00:47:11|              2|                0.4|          1|                 N|                68|                 90|           1|        5.8|          3.5|    0.5|      1.25|         0.0|                  1.0|       12.05|                 2.5|        0.0|               0.0|             3.73|Creative Mobile T...|       Standard rate|   Credit Card|            0.64|2024|  Jan|
|        1| 2024-01-01 00:51:53|  2024-01-01 00:55:43|              1|                0.8|          1|                 N|                90|                 68|           2|        6.5|          3.5|    0.5|       0.0|         0.0|                  1.0|        11.5|                 2.5|        0.0|               0.0|             3.83|Creative Mobile T...|       Standard rate|          Cash|            1.29|2024|  Jan|
|        1| 2024-01-01 00:50:09|  2024-01-01 01:03:57|              1|                5.0|          1|                 N|               132|                216|           2|       21.2|         2.75|    0.5|       0.0|         0.0|                  1.0|       25.45|                 0.0|       1.75|               0.0|             13.8|Creative Mobile T...|       Standard rate|          Cash|            8.05|2024|  Jan|
|        1| 2024-01-01 00:41:06|  2024-01-01 00:53:42|              1|                1.5|          1|                 N|               164|                 79|           1|       12.8|          3.5|    0.5|      4.45|         0.0|                  1.0|       22.25|                 2.5|        0.0|               0.0|             12.6|Creative Mobile T...|       Standard rate|   Credit Card|            2.41|2024|  Jan|
|        2| 2024-01-01 00:56:38|  2024-01-01 01:03:17|              1|                1.5|          1|                 N|               141|                263|           1|        9.3|          1.0|    0.5|       3.0|         0.0|                  1.0|        17.3|                 2.5|        0.0|               0.0|             6.65|  Curb Mobility, LLC|       Standard rate|   Credit Card|            2.41|2024|  Jan|
|        2| 2024-01-01 00:32:34|  2024-01-01 00:49:33|              1|               2.57|          1|                 N|               161|                263|           1|       17.7|          1.0|    0.5|      10.0|         0.0|                  1.0|        32.7|                 2.5|        0.0|               0.0|            16.98|  Curb Mobility, LLC|       Standard rate|   Credit Card|            4.14|2024|  Jan|
|        2| 2024-01-01 00:52:30|  2024-01-01 00:57:37|              1|               0.66|          1|                 N|               263|                236|           1|        6.5|          1.0|    0.5|      2.88|         0.0|                  1.0|       14.38|                 2.5|        0.0|               0.0|             5.12|  Curb Mobility, LLC|       Standard rate|   Credit Card|            1.06|2024|  Jan|
|        1| 2024-01-01 00:36:30|  2024-01-01 01:13:53|              2|                1.7|          1|                 N|               246|                170|           1|       29.6|          3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|               0.0|            37.38|Creative Mobile T...|       Standard rate|   Credit Card|            2.74|2024|  Jan|
|        2| 2024-01-01 00:44:24|  2024-01-01 00:51:57|              1|               0.94|          1|                 N|               158|                113|           1|        8.6|          1.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 2.5|        0.0|               0.0|             7.55|  Curb Mobility, LLC|       Standard rate|   Credit Card|            1.51|2024|  Jan|
+---------+--------------------+---------------------+---------------+-------------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+--------------------+--------------------+--------------+----------------+----+-----+
only showing top 20 rows

#### Columns from lookup_zones_table

#### Adding Zone Information

This  adds new columns to the DataFrame by left-joining with `lookup_zones_df` on `Pickup_Location_ID` and `Dropoff_Location_ID`.  

**Columns added:**  
- `Pickup_Borough`, `Pickup_Zone`, `Pickup_Service_Zone`  
- `Dropoff_Borough`, `Dropoff_Zone`, `Dropoff_Service_Zone`

In [43]:
lookup_zones_df = (
    spark.read
         .option("header", "true")
         .option("inferschema","True")
         .csv("/opt/spark/resources/taxi_zone_lookup.csv")
)

In [44]:
lookup_zones_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [49]:
#lookup_zones_df.printSchema()

In [45]:
from pyspark.sql import functions as f

pickup_zone = lookup_zones_df.alias('pickup')
dropoff_zone = lookup_zones_df.alias('dropoff')

df_joined = df_derived_col \
    .join(
        pickup_zone,
        df_derived_col['Pickup_Location_ID'] == pickup_zone['LocationID'],
        how='left'
    ) \
    .join(
        dropoff_zone,
        df_derived_col['Dropoff_Location_ID'] == dropoff_zone['LocationID'],
        how='left'
    ) \
    .select(
        df_derived_col['*'],  # all original columns
        f.col('pickup.Borough').alias('Pickup_Borough'),
        f.col('pickup.Zone').alias('Pickup_Zone'),
        f.col('pickup.service_zone').alias('Pickup_Service_Zone'),
        f.col('dropoff.Borough').alias('Dropoff_Borough'),
        f.col('dropoff.Zone').alias('Dropoff_Zone'),
        f.col('dropoff.service_zone').alias('Dropoff_Service_Zone')
    )

In [51]:
#df_joined.count()
#df_joined.show()
#df_joined.printSchema()

# **Final df**

In [46]:
final_df = df_joined.select(
    'Vendor_ID',
    'Vendor_Name',
    'Trip_Pickup_DateTime',
    'Trip_Dropoff_DateTime',
    'passenger_count',
    'Pickup_Location_ID',
    'Pickup_Borough',
    'Pickup_Zone',
    'Pickup_Service_Zone',
    'Dropoff_Location_ID',
    'Dropoff_Borough',
    'Dropoff_Zone',
    'Dropoff_Service_Zone',
    'Trip_Distance_Km',
    'trip_distance_miles',
    'Ratecode_ID',
    'Ratecode_Description',
    'payment_type',
    'Payment_Method',
    'trip_duration_min',
    'fare_amount',
    'extra_charges',
    'mta_tax',
    'tip_amount',
    'tolls_amount',
    'improvement_surcharge',
    'total_amount',
    'congestion_surcharge',
    'Airport_fee',
    'cbd_congestion_fee',
    'Year',
    'Month'
)

In [47]:
# Store the original count
original_count = df.count()

# Store the filtered count
final_count = final_df.count()

# Print results
print(f"Number of records of original df: {original_count}")
print(f"Number of records after Cleaning Data: {final_count}")
print(f"Number of filtered records: {original_count - final_count}")
print(f"Percentage of bad data from whole data: {(original_count - final_count) / original_count * 100:.2f}%")

Number of records of original df: 159372196
Number of records after Cleaning Data: 130902515
Number of filtered records: 28469681
Percentage of bad data from whole data: 17.86%

In [48]:
final_df.show(10)

+---------+--------------------+--------------------+---------------------+---------------+------------------+--------------+--------------------+-------------------+-------------------+---------------+--------------------+--------------------+----------------+-------------------+-----------+--------------------+------------+--------------+-----------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+
|Vendor_ID|         Vendor_Name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|passenger_count|Pickup_Location_ID|Pickup_Borough|         Pickup_Zone|Pickup_Service_Zone|Dropoff_Location_ID|Dropoff_Borough|        Dropoff_Zone|Dropoff_Service_Zone|Trip_Distance_Km|trip_distance_miles|Ratecode_ID|Ratecode_Description|payment_type|Payment_Method|trip_duration_min|fare_amount|extra_charges|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|Year|Month|
+---------+--------------------+--------------------+---------------------+---------------+------------------+--------------+--------------------+-------------------+-------------------+---------------+--------------------+--------------------+----------------+-------------------+-----------+--------------------+------------+--------------+-----------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+
|        2|  Curb Mobility, LLC| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|               186|     Manhattan|Penn Station/Madi...|        Yellow Zone|                 79|      Manhattan|        East Village|         Yellow Zone|            2.77|               1.72|          1|       Standard rate|           2|          Cash|             19.8|       17.7|          1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|               140|     Manhattan|     Lenox Hill East|        Yellow Zone|                236|      Manhattan|Upper East Side N...|         Yellow Zone|             2.9|                1.8|          1|       Standard rate|           1|   Credit Card|              6.6|       10.0|          3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|               236|     Manhattan|Upper East Side N...|        Yellow Zone|                 79|      Manhattan|        East Village|         Yellow Zone|            7.56|                4.7|          1|       Standard rate|           1|   Credit Card|            17.92|       23.3|          3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|                79|     Manhattan|        East Village|        Yellow Zone|                211|      Manhattan|                SoHo|         Yellow Zone|            2.25|                1.4|          1|       Standard rate|           1|   Credit Card|              8.3|       10.0|          3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|               211|     Manhattan|                SoHo|        Yellow Zone|                148|      Manhattan|     Lower East Side|         Yellow Zone|            1.29|                0.8|          1|       Standard rate|           1|   Credit Card|              6.1|        7.9|          3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|               148|     Manhattan|     Lower East Side|        Yellow Zone|                141|      Manhattan|     Lenox Hill West|         Yellow Zone|            7.56|                4.7|          1|       Standard rate|           1|   Credit Card|            32.38|       29.6|          3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|               0.0|2024|  Jan|
|        2|  Curb Mobility, LLC| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|               138|        Queens|   LaGuardia Airport|           Airports|                181|       Brooklyn|          Park Slope|           Boro Zone|           17.41|              10.82|          1|       Standard rate|           1|   Credit Card|            26.05|       45.7|          6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75|               0.0|2024|  Jan|
|        2|  Curb Mobility, LLC| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|               161|     Manhattan|      Midtown Center|        Yellow Zone|                261|      Manhattan|  World Trade Center|         Yellow Zone|            8.75|               5.44|          1|       Standard rate|           2|          Cash|            28.18|       31.0|          1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|               0.0|2024|  Jan|
|        2|  Curb Mobility, LLC| 2024-01-01 00:35:22|  2024-01-01 00:41:41|              2|               107|     Manhattan|            Gramercy|        Yellow Zone|                137|      Manhattan|            Kips Bay|         Yellow Zone|            1.21|               0.75|          1|       Standard rate|           1|   Credit Card|             6.32|        7.9|          1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|               0.0|2024|  Jan|
|        1|Creative Mobile T...| 2024-01-01 00:25:00|  2024-01-01 00:34:03|              2|               158|     Manhattan|Meatpacking/West ...|        Yellow Zone|                246|      Manhattan|West Chelsea/Huds...|         Yellow Zone|            1.93|                1.2|          1|       Standard rate|           1|   Credit Card|             9.05|       14.9|          3.5|    0.5|      3.95|         0.0|                  1.0|       23.85|                 2.5|        0.0|               0.0|2024|  Jan|
+---------+--------------------+--------------------+---------------------+---------------+------------------+--------------+--------------------+-------------------+-------------------+---------------+--------------------+--------------------+----------------+-------------------+-----------+--------------------+------------+--------------+-----------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----+-----+
only showing top 10 rows

In [49]:
spark.stop()