In [2]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("NYC_Taxi_Analysis")
    .master("spark://spark-master:7077")
    .getOrCreate()
)

##  ***2022 Schema***

In [2]:
df_2022 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2022")

In [3]:
print(f"number of records of 2023 data is : {df_2022.count()}")

number of records of 2023 data is : 39656098

In [4]:
df_2022.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

##  ***2023 Schema***

In [5]:
df_2023 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023")

In [6]:
print(f"number of records of 2023 data is : {df_2023.count()}")

number of records of 2023 data is : 38310226

In [7]:
df_2023.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

## ***2024 Schema***

In [8]:
df_2024 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024")

In [9]:
print(f"Number of records of 2024 data is : {df_2024.count()}")

Number of records of 2024 data is : 41169720

In [10]:
df_2024.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

##  ***2025 Schema***

In [11]:
df_2025 = spark.read.parquet("/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025")

In [12]:
print(f"Number of records of 2025 data is : {df_2025.count()}")

Number of records of 2025 data is : 40236152

In [13]:
df_2025.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [14]:

print(df_2022.schema==df_2023.schema == df_2024.schema == df_2025.schema)  

#the result is False , so there is a schema mismatch , and to resolve this we should use mergeschema in spark

False

In [15]:
#df = spark.read.option("mergeSchema", "true").parquet(
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023",
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024",
#    "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025"
#)

#the mergeschema in spark can not work , because it can not merge data types "Failed to merge incompatible data types "BIGINT" and "INT"

# **Standard Schema**

### ⚠️ Observed Schema Mismatches

- **Data type inconsistencies across years**
  - `VendorID`: `long` (2022-2023) vs `integer` (2024–2025)
  - `passenger_count`: `double` (2022-2023) vs `long` (2024–2025)
  - `RatecodeID`: `double` (2022-2023) vs `long` (2024–2025)
  - `PULocationID`, `DOLocationID`: `long` (2022-2023) vs `integer` (2024–2025)

- **Column name variation**
  - `airport_fee` (2022-2023) vs `Airport_fee` (2024–2025)

- **Schema evolution**
  - `cbd_congestion_fee` present only in 2025

In [62]:
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, DoubleType, StringType, TimestampType ,TimestampNTZType

standard_schema = StructType([
    StructField('VendorID', IntegerType(), True),
    StructField('tpep_pickup_datetime', TimestampNTZType(), True),
    StructField('tpep_dropoff_datetime', TimestampNTZType(), True),
    StructField('passenger_count', LongType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', LongType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', IntegerType(), True),
    StructField('DOLocationID', IntegerType(), True),
    StructField('payment_type', LongType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True),
    StructField('congestion_surcharge', DoubleType(), True),
    StructField('Airport_fee', DoubleType(), True),  # <-- change here
    StructField('cbd_congestion_fee', DoubleType(), True),
])

## Enforce Function

In [63]:
from pyspark.sql.functions import lit, col

def enforce_schema(df, schema):
    # Rename existing lower-case column if needed
    if "airport_fee" in df.columns:
        df = df.withColumnRenamed("airport_fee", "Airport_fee")
    
    # Add missing columns and cast
    for field in schema.fields:
        if field.name not in df.columns:
            df = df.withColumn(field.name, lit(None).cast(field.dataType))
        else:
            df = df.withColumn(field.name, col(field.name).cast(field.dataType))
    
    # Reorder columns
    df = df.select([field.name for field in schema.fields])
    return df

### Read 2022 Parquet Files and Union them

In [64]:
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2022"

dfs_2022_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2022-{month}.parquet"
    
    df = spark.read.parquet(path)

    df_std = enforce_schema(df, standard_schema)
    
    dfs_2022_std[month] = df_std

In [65]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2022_std[month] for month in sorted(dfs_2022_std.keys())]

# Union all months into one DataFrame
df_2022_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [70]:
df_2022_std.count()

39656098

### Read 2023 Parquet Files and Union them

In [67]:
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2023"

dfs_2023_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2023-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2023_std[month] = df_std

In [68]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2023_std[month] for month in sorted(dfs_2023_std.keys())]

# Union all months into one DataFrame
df_2023_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [69]:
df_2023_std.count()

38310226

### Read 2024 Parquet Files and Union them

In [78]:
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2024"

dfs_2024_std = {}

for m in range(1, 13):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2024-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2024_std[month] = df_std

In [72]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2024_std[month] for month in sorted(dfs_2024_std.keys())]

# Union all months into one DataFrame
df_2024_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [75]:
df_2024_std.count()

41169720

### Read 2025 Parquet Files and Union them

In [81]:
base_path = "/opt/spark/resources/NYC_Yellow_Taxi_Trips/2025"

dfs_2025_std = {}

for m in range(1, 11):
    month = f"{m:02d}"
    path = f"{base_path}/yellow_tripdata_2025-{month}.parquet"
    
    df = spark.read.parquet(path)
    df_std = enforce_schema(df, standard_schema)
    
    dfs_2025_std[month] = df_std

In [82]:
from functools import reduce
from pyspark.sql import DataFrame

# List of all 12 DataFrames
dfs_list = [dfs_2025_std[month] for month in sorted(dfs_2025_std.keys())]

# Union all months into one DataFrame
df_2025_std = reduce(lambda df1, df2: df1.unionByName(df2), dfs_list)

In [84]:
df_2025_std.count()

40236152

# **Union All df Years**

In [85]:
#Check schema match
print(df_2022_std.schema==df_2023_std.schema==df_2024_std.schema==df_2025_std.schema)

True

In [86]:
df = (
    
     df_2024_std
    .unionByName(df_2025_std)
    .unionByName(df_2023_std)
    .unionByName(df_2022_std)
    
)

In [87]:
print(f"number of records of full df is : {df.count()}")

number of records of full df is : 159372196

In [88]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [89]:
df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2024-01-01 00:57:55|  2024-01-01 01:17:43|              1|         1.72|         1|                 N|         186|          79|           2|       17.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        22.7|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              1|          1.8|         1|                 N|         140|         236|           1|       10.0|  3.5|    0.5|      3.75|         0.0|                  1.0|       18.75|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:17:06|  2024-01-01 00:35:01|              1|          4.7|         1|                 N|         236|          79|           1|       23.3|  3.5|    0.5|       3.0|         0.0|                  1.0|        31.3|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              1|          1.4|         1|                 N|          79|         211|           1|       10.0|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              1|          0.8|         1|                 N|         211|         148|           1|        7.9|  3.5|    0.5|       3.2|         0.0|                  1.0|        16.1|                 2.5|        0.0|              NULL|
|       1| 2024-01-01 00:54:08|  2024-01-01 01:26:31|              1|          4.7|         1|                 N|         148|         141|           1|       29.6|  3.5|    0.5|       6.9|         0.0|                  1.0|        41.5|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:49:44|  2024-01-01 01:15:47|              2|        10.82|         1|                 N|         138|         181|           1|       45.7|  6.0|    0.5|      10.0|         0.0|                  1.0|       64.95|                 0.0|       1.75|              NULL|
|       1| 2024-01-01 00:30:40|  2024-01-01 00:58:40|              0|          3.0|         1|                 N|         246|         231|           2|       25.4|  3.5|    0.5|       0.0|         0.0|                  1.0|        30.4|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:26:01|  2024-01-01 00:54:12|              1|         5.44|         1|                 N|         161|         261|           2|       31.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        36.0|                 2.5|        0.0|              NULL|
|       2| 2024-01-01 00:28:08|  2024-01-01 00:29:16|              1|         0.04|         1|                 N|         113|         113|           2|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|              NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 10 rows

# **Data Cleaning**

### **Rename Columns**

In [118]:
from pyspark.sql import functions as f

df_col_renamed = (
    df
    .withColumnRenamed("VendorID", "Vendor_ID")
    .withColumnRenamed("RatecodeID", "Ratecode_ID")
    .withColumnRenamed("PULocationID", "Pickup_Location_ID")
    .withColumnRenamed("DOLocationID", "Dropoff_Location_ID")
    .withColumnRenamed("extra", "extra_charges")
    .withColumnRenamed("tpep_pickup_datetime","Trip_Pickup_DateTime")
    .withColumnRenamed("tpep_dropoff_datetime","Trip_Dropoff_DateTime")
    .withColumn(
        'trip_duration_min',
        f.round(
            (f.unix_timestamp('Trip_Dropoff_DateTime') - f.unix_timestamp('Trip_Pickup_DateTime')) / 60,
            2
        )
    )
)

In [119]:
df_col_renamed.printSchema()

root
 |-- Vendor_ID: integer (nullable = true)
 |-- Trip_Pickup_DateTime: timestamp_ntz (nullable = true)
 |-- Trip_Dropoff_DateTime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- Ratecode_ID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- Pickup_Location_ID: integer (nullable = true)
 |-- Dropoff_Location_ID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra_charges: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)
 |-- trip_duration_min: double (nullable = true)

In [137]:
from pyspark.sql import functions as f

df_col_renamed.select('Trip_Pickup_DateTime','Trip_Dropoff_DateTime','trip_duration_min').show()

+--------------------+---------------------+-----------------+
|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|trip_duration_min|
+--------------------+---------------------+-----------------+
| 2024-01-01 00:57:55|  2024-01-01 01:17:43|             19.8|
| 2024-01-01 00:03:00|  2024-01-01 00:09:36|              6.6|
| 2024-01-01 00:17:06|  2024-01-01 00:35:01|            17.92|
| 2024-01-01 00:36:38|  2024-01-01 00:44:56|              8.3|
| 2024-01-01 00:46:51|  2024-01-01 00:52:57|              6.1|
| 2024-01-01 00:54:08|  2024-01-01 01:26:31|            32.38|
| 2024-01-01 00:49:44|  2024-01-01 01:15:47|            26.05|
| 2024-01-01 00:30:40|  2024-01-01 00:58:40|             28.0|
| 2024-01-01 00:26:01|  2024-01-01 00:54:12|            28.18|
| 2024-01-01 00:28:08|  2024-01-01 00:29:16|             1.13|
| 2024-01-01 00:35:22|  2024-01-01 00:41:41|             6.32|
| 2024-01-01 00:25:00|  2024-01-01 00:34:03|             9.05|
| 2024-01-01 00:35:16|  2024-01-01 01:11:52|             36.6|
| 2024-01-01 00:43:27|  2024-01-01 00:47:11|             3.73|
| 2024-01-01 00:51:53|  2024-01-01 00:55:43|             3.83|
| 2024-01-01 00:50:09|  2024-01-01 01:03:57|             13.8|
| 2024-01-01 00:41:06|  2024-01-01 00:53:42|             12.6|
| 2024-01-01 00:52:09|  2024-01-01 00:52:28|             0.32|
| 2024-01-01 00:56:38|  2024-01-01 01:03:17|             6.65|
| 2024-01-01 00:32:34|  2024-01-01 00:49:33|            16.98|
+--------------------+---------------------+-----------------+
only showing top 20 rows

In [139]:
from pyspark.sql import functions as f

df_col_renamed.select(f.max("trip_duration_min")).show()

+----------------------+
|max(trip_duration_min)|
+----------------------+
|         1.032205518E7|
+----------------------+

### **Filter bad Data**

#### Filter Conditions 

The following conditions will be used to **filter the dataset**:

1. **Passenger count:** Only keep trips where the number of passengers is between 1 and 6 (exclusive of 0 and 7).  

2. **Trip distance:** Keep trips where the distance is **zero** (could indicate invalid trips).  

3. **Pickup and dropoff location:** Trips where the pickup and dropoff locations are the same.

4. **trip_duration**: Duration of Trip should be leass than 2 hours

In [93]:
df_filtered = df_col_renamed

In [129]:
from pyspark.sql import functions as f

df_filtered = df_col_renamed.filter(
    (f.col("passenger_count").between(1, 6)) &
    (f.col("trip_distance").between(0,200)) &
    (f.col("Pickup_Location_ID") != f.col("Dropoff_Location_ID")) &
    (f.col("trip_duration_min").between(0.01,120.1))
    
)

In [131]:
 #check applying of filter condition
#from pyspark.sql import functions as f

#df_filtered.where ( (f.col("passenger_count") == 0) | (f.col("trip_distance")>200) |(f.col("trip_duration_min") >120.1) ).show()

+---------+--------------------+---------------------+---------------+-------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+
|Vendor_ID|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|passenger_count|trip_distance|Ratecode_ID|store_and_fwd_flag|Pickup_Location_ID|Dropoff_Location_ID|payment_type|fare_amount|extra_charges|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|trip_duration_min|
+---------+--------------------+---------------------+---------------+-------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+
+---------+--------------------+---------------------+---------------+-------------+-----------+------------------+------------------+-------------------+------------+-----------+-------------+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+-----------------+

In [130]:
#df_filtered.count()

133027172

In [143]:
from pyspark.sql import functions as f

df_filtered.select(f.max("trip_duration_min")).show()

+----------------------+
|max(trip_duration_min)|
+----------------------+
|                 120.1|
+----------------------+